<!doctype html>
<!-- TODO: fix the spaceing! -->
<title>Petal </title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class =page>
  <h1>Petal</h1>
    <div class=metanav>
      <h1>Hospitals</h1>
      <!--<a href="/login">login</a>
      <a href="/">index</a>
      <a href="/map">map</a>
      <a href="/show_charts">make_charts</a>
      <a href="/awsgraph">awsgraph</a>
      <a href="/dbshow">dbshow</a> -->
      <li><a href="{{ url_for('MetroWest') }}">MetroWest</a></li>
      <li><a href="{{ url_for('st_vince') }} ">St.Vince </a></li>
      <li><a href="{{ url_for('weiss_memorial') }}">Weiss Memorial</a></li>
      <li><a href="{{ url_for('west_suburban') }}">West Suburban</a></li>
      <li><a href="{{ url_for('west_lake') }}">West Lake</a></li>
      <li><a href="{{ url_for('childrens_hospital_of_michigan') }}">Childrens Hospital Of Michigan</a></li>
      <li><a href="{{ url_for('detroit_receiving') }}">Detroit Receiving</a></li>
      <li><a href="{{ url_for('huron_valley_sinai') }}">Huron Valley -Sinai</a></li>
      <li><a href="{{ url_for('sinia_grace') }}">Sinia Grace</a></li>
      <li><a href="{{ url_for('harper_university') }}">Harper University</a></li>
      <li><a href="{{ url_for('mac_neal') }}">MacNeal</a></li>
      <li><a href="{{ url_for('valley_baptist_harlingen') }}">Valley Baptist -Harlingen</a></li>
      <li><a href="{{ url_for('valley_baptist_brownsville') }}">Valley Baptist Brownsville</a></li>
      <li><a href="{{ url_for('arizona_heart') }}">Arizona Heart</a></li>
      <li><a href="{{ url_for('arrow_head') }}">Arrowhead</a></li>
      <li><a href="{{ url_for('maryvale') }}">Maryvale</a></li>
      <li><a href="{{ url_for('paradise_valley') }}">Paradise Valley</a></li>
      <li><a href="{{ url_for('phoenix_baptist') }}">Phoenix Baptist</a></li>
      <li><a href="{{ url_for('west_valley') }}">West Valley</a></li>
      <li><a href="{{ url_for('st_lukes') }}">St.Lukes</a></li>
      <li><a href="{{ url_for('northeast') }}">Northeast</a></li>
      <li><a href="{{ url_for('north_central') }}">North Central</a></li>
      <li><a href="{{ url_for('mission_trail') }}">Mission Trail</a></li>

      <!-- <img src ="{{ url_for('static', filename='flower350.jpg') }}" alt="flower" usemap="#logos"> -->
    </div>
</div>
    {% block content %}{% endblock %}

