<!doctype html>
<html>
  <head>
    <title>Petal </title>
    <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel=shortcut icon href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <div class=page>
  <body>
    <h1>Petal</h1>
      <div class=metanav>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('organization') }}">hospitals</a>
        <a href="{{ url_for('super_survey') }}">survey</a>
        <hr>
  {% block content %}{% endblock %}
    </div>
  </div>
  </body>
</html>

