{% extends "base.html" %}
{% block content %}
    <h1>Organizations</h1>
        <li><a href="{{ url_for('MetroWest') }}">MetroWest</a></li>
        <li><a href="{{ url_for('st_vince') }} ">St.Vince </a></li>
        <li><a href="{{ url_for('weiss_memorial') }}">Weiss Memorial</a></li>
        <li><a href="{{ url_for('west_suburban') }}">West Suburban</a></li>
        <li><a href="{{ url_for('west_lake') }}">West Lake</a></li>
        <li><a href="{{ url_for('childrens_organization_of_michigan') }}">Childrens Organization Of Michigan</a></li>
        <li><a href="{{ url_for('detroit_receiving') }}">Detroit Receiving</a></li>
        <li><a href="{{ url_for('huron_valley_sinai') }}">Huron Valley -Sinai</a></li>
        <li><a href="{{ url_for('sinia_grace') }}">Sinia Grace</a></li>
        <li><a href="{{ url_for('harper_university') }}">Harper University</a></li>
        <li><a href="{{ url_for('mac_neal') }}">MacNeal</a></li>
        <li><a href="{{ url_for('valley_baptist_harlingen') }}">Valley Baptist -Harlingen</a></li>
        <li><a href="{{ url_for('valley_baptist_brownsville') }}">Valley Baptist Brownsville</a></li>
        <li><a href="{{ url_for('arizona_heart') }}">Arizona Heart</a></li>
        <li><a href="{{ url_for('arrow_head') }}">Arrowhead</a></li>
        <li><a href="{{ url_for('maryvale') }}">Maryvale</a></li>
        <li><a href="{{ url_for('paradise_valley') }}">Paradise Valley</a></li>
        <li><a href="{{ url_for('phoenix_baptist') }}">Phoenix Baptist</a></li>
        <li><a href="{{ url_for('west_valley') }}">West Valley</a></li>
        <li><a href="{{ url_for('st_lukes') }}">St.Lukes</a></li>
        <li><a href="{{ url_for('northeast') }}">Northeast</a></li>
        <li><a href="{{ url_for('north_central') }}">North Central</a></li>
        <li><a href="{{ url_for('mission_trail') }}">Mission Trail</a></li>
{% endblock %}
