{% extends "base.html" %}
{% block content %}
<!-- login is serving as a index at the moment this is ok... -->
<html>
    <head>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="https://login.persona.org/include.js" type="text/javascript"></script>
        <script type="text/javascript">{{ auth_script|safe }}</script>
    </head>
    <body>
        <h2>If its your first time here, read me:</h2>
        <p>In order to log in your going to need a Persona account.
            click the big blue login button. A pop up will appear, in the bottem right corner
            click "learn more". This will redirect you to a site where you
            can create a Persona account.  The Persona
            account will use your email as it's username, however you will want
            to create a new unique password for your Persona account. Then you use
            your email/username and Persona password to login to this site.
            Why all the fuss? <b>Security</b>. Persona is a creation of
            Mozzila, a leader in web security.</p>

        {% if current_user.is_authenticated() %}
            <button id="browserid-logout" class="button">Logout</button>
            <h3>welcome {{ g.user.name }} </h3>
            <h3>Your access level is: {{ rolelevel }}</h2>
        {% else %}
            <button id="browserid-login" class="button">Login with persona</button>
        {% endif %}
        <img src='/static/flowerlogin.jpg' alt="" />
        </div>
    </body>
</html>
{% endblock %}
