{% extends "base.html" %}
{% block content %}
<!-- login is serving as a index at the moment this is ok... -->
<html>
    <head>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="https://login.persona.org/include.js" type="text/javascript"></script>
        <script type="text/javascript">{{ auth_script|safe }}</script>
    </head>
    <body>
        <h2>In order to use petal your going to need a Persona by Mozzila</h2>
        <h3>Just click the login button then follow the instructions at the bottom of
            the pop up window by clicking "learn more". Which will take you to a site and follow the instructions. </h3>
        {% if current_user.is_authenticated() %}
            <button id="browserid-logout" class="button">Logout</button>
            <h3>welcome {{ g.user.name }} </h3>
            <h3>Your access level is: {{ rolelevel }}</h2>
        {% else %}
            <button id="browserid-login" class="button">Login with persona</button>
        {% endif %}
        <img src='/static/flowerlogin.jpg' alt="" />
        </div>
    </body>
</html>
{% endblock %}
