{% extends 'admin/master.html' %}
{% block body %}
    <form action='' method="POST" >
        <h4>The selected Surveys will be assigned to ALL organizations</h4>
        {% for survey_header in  SurveyHeader.query.all() %}
            <input type="checkbox" name="survey_headers" value="{{ survey_header.id }}" />{{ survey_header.name }}<br>
        {% endfor %}
        <p>Enter format: YEAR/MONTH/DAY<br></p>
        Assigned: <input type="datetime" name="assigned"/><br>
        Due date:      <input type="datetime" name="due"/><br>
        <input type="submit" name="date_sumbited"/><br>
        <p>add flash message</p>
    </form>
{% endblock %}
