{% extends "base.html" %}
{% block content %}
    <div class ="entries"> <!-- should be a DIV in your style! -->
    <form action="{{url_for('pci_form2') }}" method="post" class="add-entry"/>

            <dl>
            {% if message %}
                {% for organization in organization_class.query.all() %}
                    <dt><input type="radio", name="organization_name", value="{{ organization.id }}",/>{{ organization.name }}</dt>
                {% endfor %}
                <dt><input type ="submit", name="submit_organization"/>Submit Hospital
            {% endif %}
            <dl>

    </form>
    </div>
{% endblock %}
