{% extends "base.html" %}
{% block content %}
    <form action="{{url_for('add_pci_form2') }}" method="post" class=add-entry>
        <div class ="entries"> <!-- should be a DIV in your style! -->
            <h2>Select hospital for which this form applies:</h2>
            <dl>
            {% for hospital in g.user.hospitals %}
                <dt><input type="radio" name="hospital_name" value="" />{{ hospital.name }}
            {% endfor %}
            <hr>
            <h2>Select quarter for which this form applies:</h2>
                <dt><input type='radio' name='quarter_4' value='' /> 4th Quarter
            {% for survey in surveys %}
                <dt><input type="radio" name="survey_release" value="" />{{ survey.release }}
            {% endfor %}
            <hr>
            <!-- TODO, need to use radrio button for  date instance -->

            {% for question_header in question_headers %}
            <hr>
            <h2> {{ question_header.order + 1 }} : {{ question_header.header }} </h2>
            <hr>
                    <table border="1">
                    {% for possible in question_header.questions|sort(attribute='order')  %}
                    <!-- TODO refactor possible with heading name rather than order -->
                    <!-- TODO this is so ugly it can't be right! -->
                        {% if (question_header.order == 7) %}
                                {% if possible.order in [4,8,12] %}
                                    </tr>
                                {% endif %}
                                {% if (possible.order ) % 4 == 0%}
                                    {% if possible.order == 0 %}
                                        <tr><td><p></p></td>
                                    {% endif %}
                                    {% if possible.order == 4 %}
                                        <tr><td><p>M-F 5pm-9am</p></td>
                                    {% endif %}
                                    {% if possible.order == 8 %}
                                        <tr><td><p>Weekend 9am-5pm</p></td>
                                    {% endif %}
                                    {% if possible.order == 12 %}
                                        <tr><td><p>Weekend 5pm-9am</p></td>
                                    {% endif %}
                                {% endif %}
                                {% if "M-F 9am-5pm" in possible.key %}
                                    {% if possible.order == 0 %}
                                    <td><p>On site</p></td>
                                    <td><p>Telephone coverage & availability to return to hospital</p></td>
                                    <td><p>Telephone coverage only</p></td>
                                    <td><p>Not available</p></td></tr>
                                    <td><p>M-F 9am-5pm</p></td>
                                    {% endif %}
                                    <td><input type="{{ possible.inputtype.input_type }}", name="M-F 9am-5pm",value="{{ possible.point }}"/></td>

                                {% endif %}
                                {% if "M-F 5pm-9am" in possible.key %}
                                    <td><input type="{{ possible.inputtype.input_type }}", name="M-F 5pm-9am",value="{{ possible.point }}"/></td>
                                {% endif %}
                                {% if "Weekend 9am-5pm" in possible.key %}
                                    <td><input type="{{ possible.inputtype.input_type }}", name="Weekend 9am-5pm",value="{{ possible.point }}"/></td>
                                {% endif %}
                                {% if "Weekend 5pm-9am" in possible.key %}
                                    <td><input  type="{{ possible.inputtype.input_type }}", name="Weekend 5pm-9am",value="{{ possible.point }}"/></td>
                                {% endif %}
                                {% if possible.order == 16 %}
                                {% endif %}
                        {% else %}
                            {{ possible.order +1 }})<input type="{{ possible.inputtype.input_type }}", name="{{ question_header.header }}", value="{{ possible.point }}" />({{ possible.point }}) {{ possible.key }}<br>
                        {% endif %}
                    {% endfor %}
                </table>
            {% endfor %}
            <hr>
            <dt><input type="submit", name= "submit" value='' />Submit</dt>

        </div>

    </dl>
    </form>
{% endblock %}
