{% extends "base.html" %}
{% block content %}
<div class ="page">
    <form action="" method="POST" accept-charset="utf-8">
        <h3>welcome {{ user }}</h3>
        {% for survey_table in  survey_tables %}
            <h2>Organization: {{ survey_table.organization }}</h2>
            <h2>Survey:{{ survey_table.survey_header }}</h2>
            <h4>Period: {{ survey_table.period_name }}</h4>
            <h4>Already completed? {{ survey_table.completed }}</h4>
            <h4>Period start: {{ survey_table.period_start }}</h4>
            <h4>Period end: {{ survey_table.period_end }}</h4>
            <h4>Survey assigned on:{{ survey_table.assigned }}</h4>
            <h4>Survey due on:{{ survey_table.due }}</h4>
            {% set seen = False %}
            {% set survey_section = SurveySection.query.get(survey_table.survey_section_id) %}
            {% for question in survey_section.questions %}
                {% if not seen %}
                <h3>{{ survey_section.order }}: {{ survey_section.name }}</h3>
                {{ survey_section.subheading }}</br>
                    {% set seen = True %}
                {% endif %}
                {{ question.order }}){{ question.name }}<input
                type="{{ question.input_type.name }}" name="{{ survey_table.user_survey_section_id }}"
                value="{{ question.id }}" /> ({{ question.value }})</br>

            {% endfor %}
                {{ survey_table.user_survey_section_id }}
                {{question_ids}}
        {% endfor %}
        <input type="submit"/>
    </form>
</div>
{% endblock %}
