{% extends "base.html" %}
{% block content %}
  <form method="POST" accept-charset="utf-8" >
    <div class="table">
    <table cellspacing="0" table id="table">
        <caption>Please select the survey sections you would like to complete, hover over the button to see the section name</caption>
      <caption>
          <b>
            If you DON'T have a Palliative Care Team skip sections 8-17
         </b>
    </caption>

      <colgroup span="20"></colgroup>
        <tr>
          <th scope="col">Organization</th>
          <th scope="col">Survey Header</th>
          <th scope="col">Period name</th>
          <th scope="col">Completed</th>
          <th scope="col">Due</th>
          <th scope="col">check all</th>
          <th scope="col">1</th>
          <th scope="col">2</th>
          <th scope="col">3 </th>
          <th scope="col">4</th>
          <th scope="col">5</th>
          <th scope="col">6</th>
          <th scope="col">7</th>
          <th scope="col">8</th>
          <th scope="col">9</th>
          <th scope="col">10</th>
          <th scope="col">11</th>
          <th scope="col">12</th>
          <th scope="col">13</th>
          <th scope="col">14</th>
          <th scope="col">15</th>
          <th scope="col">16</th>
          <th scope="col">17</th>
        </tr>
        {% set oshp = (0,0,0) %}
        {% set start = True %}
          {% for  survey_table in survey_tables %}
            {% if survey_table.completed != None %}
                {% set color = "#DCF8FF" %}
            {% else %}
                {% set color = "#FFEBF4" %}
            {% endif %}
            {% if oshp != (survey_table.organization, survey_table.survey_header,
                survey_table.period_name)  %}
                {% set oshp = (survey_table.organization, survey_table.survey_header,
                survey_table.period_name)  %}
                {% if start %}
                    {% set start = False %}
                {% else %}
                    </tr>
                {% endif %}
                <tr>
                    <td>{{ survey_table.organization }}</td>
                    <td>{{ survey_table.survey_header }}</td>
                    <td>{{ survey_table.period_name }}</td>
                    <td>{{ survey_table.completed }}</td>
                    <td>{{ survey_table.due }}</td>
                    <td><input type="checkbox" class="checkall"/></td>
                    <td BGCOLOR="{{ color }}"><input type="checkbox"
                        name="{{ survey_table.user_survey_section_id}}"
                        value="{{ survey_table.user_survey_section_id  }}"
                        title= "{{ survey_table.survey_section }}" /></td>
            {% else %}
            <td BGCOLOR="{{ color }}"><input type="checkbox"
                name="{{ survey_table.user_survey_section_id}}"
                value="{{ survey_table.user_survey_section_id  }}"
                title= "{{ survey_table.survey_section }}" /></td>
            {% endif %}
          {% endfor %}
            </tr>
    </table>
    </div>
    <input class="bigbutton" type="submit" value="Submit" >
  </form>


{% endblock %}
