{% extends "base.html" %}
{% block content %}
<div class="table">
  <form action="" method="POST" accept-charset="utf-8">
      <h3>Please select the survey sections you would like to complete</h3>
    <table>
      <colgroup span="10" class="columns" ></colgroup>
        <tr>
          <th>Organization</th>
          <th>Survey Header</th>
          <th>Survey Section</th>
          <th>Period name</th>
          <th>Completed</th>
          <th>Period start</th>
          <th>Period end</th>
          <th>Assigned</th>
          <th>Due</th>
          <th></th>
        </tr>
          {% for  survey_table in survey_tables %}
          <tr>
            <td>{{ survey_table.organization }}</td>
            <td>{{ survey_table.survey_header }}</td>
            <td>{{ survey_table.survey_section }}</td>
            <td>{{ survey_table.period_name }}</td>
            <td>{{ survey_table.completed }}</td>
            <td>{{ survey_table.period_start }}</td>
            <td>{{ survey_table.period_end }}</td>
            <td>{{ survey_table.assigned }}</td>
            <td>{{ survey_table.due }}</td>
            <td><input type="checkbox" name="{{ survey_table.user_survey_section_id}}"
                value="{{ survey_table.user_survey_section_id  }}" /></td>
          </tr>
          {% endfor %}
        <input type="submit"/>
    </table>
  </form>
</div>
{% endblock %}
