{% extends "base.html" %}
{% block content %}
    <div class ="entries"> <!-- should be a DIV in your style! -->
    <form action="{{url_for('survey') }}" method="post" class="add-entry"/>
            <dl>
            {% if not organization %}
                {% for organization in organizations %}
                    <dt><input type="radio" name="organization_id"
                    value="{{ organization.id }}"/>{{ organization.name }}</dt>
                {% endfor %}
                org
                <dt><input type="submit" name="submit_organization"/>
            {% elif not survey_header %}
                <h1>{{ organization.name }}</h1>
                {% for survey_header in organization.survey_headers_organizations %}
                    <dt><input type="radio" name="survey_header_id"
                    value="{{ survey_header.id }}"/>{{ survey_header.name }}
                {% endfor %}
                survey_header
                <dt><input type="submit" name="submit_survey_header"/>
            {% else %}
                    {% for survey_section in survey_header.survey_sections.all() %}
                    <h2>{{ survey_section.name }}</h2>
                    <h3>{{ survey_section.subheading }}</h3>
                        {% for question in survey_section.questions.all() %}
                        <dt><input type="{{question.input_type.name }}" name= "{{ survey_section.id }}"
                        value = "{{ question.value }}" />({{question.value }}) {{ question.name }}
                        {% endfor %}
                        ss
                    {% endfor %}
                <dt><input type="submit" name="submit_section"/>
            {% endif %}
            <dl>
    </form>
    </div>
{% endblock %}
