<!doctype html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>PetalProject</title>
  
</head>
<body>
  <h1>Map of U.S</h1>
  <p>
  Once I know where the hospitals are I can add icons/links 
  on the map that correspond to the graphs.It would also be possible to have
  users sign in and build,edit,save and view their information. Click
  anywhere on the map to view a test polar graph.
  </p>
  <!-- how to get map from file! -->
  
  <a href= "/polarchart">
    <img src ="{{ url_for('static', filename='map.gif') }}">
  </a>
 

</body>


